// @require('./reset')
vars = json('./vars.json', {hash:true})
@require './breakpoints'

html
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

body
  // background-color: vars.colors.asphalt

  // this is really unfortunate,
  // but it's due to a Chrome bug that renders innacurate colors
  // that appear as flickers during hardware accelerated transitions.
  background: url('../../static/images/bg-color.png')
  background-repeat: repeat

  color: darken(white, 4%)
  padding: 0
  margin: 0
  font-family: lato, sans-serif

*, *:before, *:after
  box-sizing: border-box

.flex
  display: flex

img
  width: 100%
  display: block

.white
  color:white

p
  font-size: calc(0.75em + 0.75vw)
  line-height: 1.45
  -webkit-font-smoothing: antialiased

.soft
  padding: 1em

.softRight
  padding-right: 3em
