// @require('./reset')
vars = json('./vars.json', {hash:true})
mobile = vars.screens.mobile
tablet = vars.screens.tablet
@require './breakpoints'

grayText = lighten(vars.colors.asphalt, 15%)



html
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-size: 131.25%

  +below(1080px)
    font-size: 120%

  +below(tablet)
    font-size: 100%

  +below(mobile)
    font-size: 75%

body
  background-color: vars.colors.asphalt
  color: lighten(vars.colors.asphalt, 15%)
  padding: 0
  margin: 0
  font-family: vars.fonts.normal
  font-size: 1em

*, *:before, *:after
  box-sizing: border-box

.flex
  display: flex

img
  width: 100%
  display: block

.white
  color:white


a
  color: inherit

h1, h2, h3, h4, h5, h6
  font-family: vars.fonts.bold
  margin-top: 0
  line-height: 1.075em
  +below(tablet)
    line-height:1.2em
  +below(phone)
    line-height: 1.5em

h1
  font-size: 3.157em
  font-family: Lora, serif
  margin-bottom: 1.5rem

  +below(960px)
    font-size: 2.369em

h3
  font-size: 1.333em
  margin-bottom:1rem
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

dt
  font-weight: bold

dd
  margin: 0
  margin-bottom: 1.5em
  font-size: calc(1em + 0.25vw)!important
  color: grayText

h2
  font-size: calc(1em + 1.2vw)


p, li, dt, dd, blockquote
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 1em

  +below(tablet)
    font-size: 1.3125em

  +below(mobile)
    font-size: 1.5em


p
  line-height: 1.5
  margin-top:0
  margin-bottom: 0.75em // 1/2 line height
  widows: 3
  orphans: 3

strong
  font-family: vars.fonts.bold
  color: vars.colors.asphalt

  [class*="reverse"] &
    color: white

em
  font-family: vars.fonts.italic

li
  line-height: 1.5em


blockquote
  font-size: calc(1em + 0.25vw)!important
  line-height: 1.5
  color: grayText
  font-style: italic

ul, li
  margin: 0
  padding: 0
  list-style: none




:global
  .smallCaps
    font-size: 75%
    line-height: (1.5 / 0.75)
    text-transform: uppercase;

  .projectSectionMarker
    font-size: 75%
    line-height: (1.5 / 0.75)
    text-transform: uppercase;

    font-family: vars.fonts.bold
    text-align: right
    +below(960px)
      text-align:left

  .flush
    margin: 0

  .hideMobile
    +below(mobile)
      display:none

  .arrow-list
    +below(tablet)
      padding-left: 3em
    li
      &:before
        content: '↣'
        font-weight: 700
        display: inline-block
        position: relative
        width: 0
        left: -1.5em
        color: vars.colors.copilotBlue

      &.multi-line
        margin-bottom:0.75em
