
/* Colors */
sky = darken(#50aae5,15%)
cloud = #F0F1F5
sidewalk = saturate(darken(#7B808C, 10%),30%)
concrete = desaturate(darken(cloud, 5%),20%)
asphalt = darken(saturate(#3A3D42, 25%),30%)
yellow = #F5D908
strawberry = #D80351
white = #FFFFFF
orange = #e99930
green = saturate(darken(#99CD56, 25%), 60%)
aqua = #50C1C2

// OT colors
blue = #60B2D0
red = #DA3743
pink = #E5656E
gray = #D7D9E0

colors = {
    sky: sky,
    cloud: cloud,
    sidewalk: sidewalk,
    concrete: concrete,
    asphalt: asphalt,
    yellow: yellow,
    strawberry: strawberry,
    white: white,
    orange: orange,

    blue: blue,
    red: red,
    pink: pink
    gray: gray
    green: green
    aqua: aqua
}

baseColor = cloud


/* Borders */
brand-round = 5px
btn-border-width = 2px


/* Spacing */
baseSpace = 1
room = 1em

/* Nav width */
navWidth = 200px
resultsWidth = 350px

/* Responsive */
screens = {
    mobile: 500px,
    tablet: 769px,
    desk: 1024px,
    big: 1600px,
    huge: 1920px
}
