vars = json('../styles/vars.json', {hash:true})
@require '../styles/breakpoints'



.flexInherit
  display: inherit
  flex-flow: inherit
  align-content: inherit

  display: flex
  flex-flow: row wrap
  align-content: space-between



.headshotWrapper
  height: 100vh



.headshot
  // background-image: url('../../static/images/headshot-2-gray.jpg')
  background-image: url('../../static/images/headshot-2.jpg')
  background-image: url('../../static/images/headshot-4.jpg')
  background-image: url('../../static/images/headshot-3.jpg')
  background-size: cover
  background-position: right

  height: 100vh

  // transform: scaleX(-1)
  // width: 450px
  // height: 450px
  // border-radius: 100%
  // margin: auto
  // position: relative
  // top: 15%
  // overflow: hidden
  // height: 68vh
  // filter: grayscale()
  // opacity: 0.7

  +below(vars.screens.mobile)
    height: 30vh


video
  position: absolute
  top: 0
  left: 0
  bottom: 0
  z-index: 999
  transform: scale(1.4)
  mix-blend-mode: screen
  object-fit: cover
  // filter: invert();
  opacity: 0.3


.inverted
  position: absolute
  top: 0
  left: 0
  bottom: 0
  z-index: 999
  transform: scale(1.4) scaleX(-1)
  mix-blend-mode: multiply;
  object-fit: cover
  filter: invert();


.title, .about
  will-change: transform, opacity
  margin-top: -5vh


.title // h1
  font-size: 6vw
  line-height: 1.2
  font-weight: 700
  text-align: right
  margin-bottom:8vh

  +below(vars.screens.mobile)
    text-align: left


.name
  position: fixed
  top: 2vw
  left: 2vw
  z-index: 900
  color: white
