@require '../styles/vars'
@require '../styles/breakpoints'

.headshot
  background-image: url('../../static/images/headshot-2.jpg')
  background-size: cover
  background-position: right
  height: 80vh
  // filter: grayscale()
  // opacity: 0.7

  +below(screens.mobile)
    height: 30vh


video
  position: absolute
  top: 0
  left: 0
  bottom: 0
  z-index: 999
  transform: scale(1.4)
  mix-blend-mode: screen
  object-fit: cover
  // filter: invert();
  opacity: 0.3


.inverted
  position: absolute
  top: 0
  left: 0
  bottom: 0
  z-index: 999
  transform: scale(1.4) scaleX(-1)
  mix-blend-mode: multiply;
  object-fit: cover
  filter: invert();


.title // h1
  font-size: 4vw
  line-height: 1.4
  font-weight: 700
  text-align: right
  margin-bottom:2em

  +below(screens.mobile)
    text-align: left


.name
  position: fixed
  top: 2vw
  left: 2vw
  z-index: 900
  color: white
