vars = json('../styles/vars.json', {hash:true})
mobile = vars.screens.mobile
@require '../styles/breakpoints'


size = 50px

.backButton
  position: fixed
  z-index: 1000

  top: 2vw
  right: 4vw
  +below(mobile)
    top:1em
    right: 2em

  width: calc(1em + 2vw)
  height: calc(1em + 2vw)

  cursor: pointer
  // height: size
  // width: size
  line-height: calc(1em + 2vw)
  box-sizing: border-box
  font-size: calc(1em + 1vw)
  text-align: center
  vertical-align: center
  background: darken(white, 5%)
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.09);
  border-radius: 50%

  transition: all .2s

  &:hover
    background: white
    color: vars.colors.asphalt
    box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.09);

  &.clicked
    transform: scale(0)
