vars = json('../styles/vars.json', {hash:true})

.backButton
  position: fixed
  z-index: 1000
  top: 2vw
  right: 4vw

  width: 2vw
  height: 2vw

  cursor: pointer


  size = 50px
  thickness = 0.5vw
  height: size
  width: size
  box-sizing: border-box
  line-height: size
  display: inline-block

  &:before, &:after
      width = size
      height = thickness
      transform: rotate(-45deg)
      content: ''
      position: absolute
      top: 50%
      left: 50%
      margin-top: -height/2
      margin-left: -width/2
      display: block
      height: height
      width: width
      background-color: #fff
      transition: all 0.25s ease-out

  &:after
      transform: rotate(-135deg)
