vars = json('../styles/vars.json', {hash:true})
@require '../styles/breakpoints'

// Box Component
.container
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: stretch
  align-content: stretch
  flex-wrap: nowrap


.wrap
  flex-flow: wrap

.center
  margin: auto
  
.textCenter
  text-align: center

.textRight
  text-align: right

.alignBaseline
  align-items: baseline


.box
  padding: room
  flex: 1 0 0
  padding-right: 1em

.full
  flex: 100% 0 0

.half
  flex: 50% 0 0

  +below(vars.screens.mobile)
    flex: 100% 0 0

.third
  flex: 33% 0 0

.twoThird
  flex: 66% 0 0

.hard
  padding: 0!important


// Wrapper Component
.wrapper
  width: 80vw
  margin: auto
  max-width: 1200px
  display: inherit
  flex-flow: inherit
  align-items: inherit

  +below(vars.screens.mobile)
    width: 100%
