vars = json('../styles/vars.json', {hash:true})


.unstyledList
  margin: 0 0 1.4em 0
  padding: 0

  li
    list-style: none
    opacity: 0.7

.title
  font-weight: 800
  opacity: 1!important
  text-transform: uppercase
  letter-spacing: 2px
  font-size: 85%
  margin-bottom: 0.5em
