@require '../styles/breakpoints'
vars = json('../styles/vars.json', {hash:true})
tablet = vars.screens.tablet
mobile = vars.screens.mobile


.unstyledList
  margin: 0 0 1.5em 0
  padding: 0
  white-space: nowrap;

  &.multiline li
    margin-bottom: 0.75em


  li
    list-style: none
    opacity: 0.7
    font-size: 85%
    line-height: (1.5 / 0.85) // to keep on baseline

    +below(tablet)
      font-size: 1.3125em * .85
    +below(mobile)
      font-size: 1.5em *.85

  .title
    font-family: vars.fonts.bold
    opacity: 1!important
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 75%
    line-height: (1.5 / 0.75) // to keep on baseline with lower font size

    +below(tablet)
      font-size: (1.3125em * .85)
    +below(mobile)
      font-size: (1.5em *.85)
