vars = json('../styles/vars.json', {hash:true})
@require '../styles/breakpoints'

.moreProjects
  +below(vars.screens.mobile)
    padding-left: 0.75em
    padding-right: 0.75em

.flexContainer
  display: flex

.flexHalf
  flex: 50% 0 0

.flexFull
  flex: 1 0 0
