@require '../styles/vars'

.nav
  // width: 32.8vw
  // height: 100vh
  // padding: 1em
  // position: fixed
  // z-index: 200
  font-weight: 700

  height: 16vh
  flex: 0 0 2
  margin-top: auto
  border-top: solid 2px lighten(asphalt, 20%)
  padding-top: 6vh
