@require '../styles/global.styl'

.nav
  // width: 32.8vw
  // height: 100vh
  // padding: 1em
  // position: fixed
  // z-index: 200
  font-weight: 700

  flex: 50px 0 2
  margin-top: auto

  a
    color: white
    display: block
    text-decoration: none
    line-height: 1.4
    font-size: 2vw
    opacity: 0.2

    &.active
      opacity: 1
