vars = json('../styles/vars.json', {hash:true})
@require '../styles/breakpoints'
mobile = vars.screens.mobile
tablet = vars.screens.tablet


.imageWrapper
  overflow: hidden
  position: relative
  flex: 100% 0 0

  +below(mobile)
    box-shadow: 0 1px 8px rgba(0,0,0,0.2)
    border-radius: 5px
    margin: 1.5em

  // custom styles for when project image is used
  // as endNote, aka "More Projects" at end of case study.
  &.endNote
    .projectImage
      height: 30vw
      max-height: 500px
      transform: scale(1.5)

      &:hover
        transform: scale(2)

      +below(mobile)
        height: 200px

      &:after
        display: none

    .metaWrapper
      display: none

  .projectImage
    cursor: pointer
    height: 80vh
    width: 100%
    background-size: cover
    background-position: center
    position: relative
    transition: transform 1s linear

    +above(vars.screens.big)
      flex: 33% 0 0

    +below(mobile)
      flex: 100% 0 0
      height: 68vh

    .endNote &
      height: 30vw
      max-height: 500px

      +below(mobile)
        height: 200px

    // dark tint at top for legibility

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      background linear-gradient(hsla(211,60,10,0.3) 20%, hsla(211,60,10,0) 33%, hsla(211,60,10,0) 80%, hsla(211,60,10,0.15) 100%)
      display: block
      width: 100%
      height: 100%
      opacity: 1
      transition:opacity 1s

    // dark tint to be activated on hover
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      background hsl(211,40,20)
      display: block
      width: 100%
      height: 100%
      opacity: 0
      transition:opacity 1s
      mix-blend-mode: multiply;

    &:hover
      +above(mobile)
        transition: transform 10s linear
        transform: scale(1.2)
        &:before
          opacity: 0.5

  .metaWrapper
    padding: 3vw
    align-self: center
    position: absolute
    top: 3vh
    left: 0
    z-index: 500
    pointer-events: none;

    +below(mobile)
      padding: 1.5em

    .endNote &
      display: none

  .title, .description
    transition: opacity 1s
    color: white
    display: block
    opacity: 1

  .title
    font-size: calc(0.75em + 2vw)
    font-family: 'Lora', serif
    text-shadow: 0 1px 4px hsla(211,30,30,0.5)
    margin-bottom: 0.75rem

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    +below(mobile)
      font-size: 2.369em
      line-height: 1.5

  .description
    opacity: 1
    font-size: 1em
    line-height: 1.5
    -webkit-font-smoothing: antialiased
    text-shadow: 0 1px 4px hsla(211,30,30,0.3)

    +below(mobile)
      opacity: 1
      font-size: (1em / 0.70)
