@require '../styles/global'
vars = json('../styles/vars.json', {hash:true})
mobile = vars.screens.mobile
@require '../styles/breakpoints'


chapterHeight = 30vh


.section
  z-index: 100
  padding: 8vw 0

  +above(1500px)
    padding: 5em 0

  &.reverse
    color: white

  &.reverseDark
    color: vars.colors.asphalt

  &.flex
    display: flex

  &.wrap
    flex-flow: wrap

  &.flush
    padding: 0

  &.chapter
    position: fixed
    width: 50%
    text-align: right
    padding: 3vh 3vw
    height: 100vh

    color: white

    display: flex
    flex-flow: row wrap
    align-content: space-between

    +below(mobile)
      position: fixed
      top:0
      left: 0
      right: 0
      z-index:200
      text-align: left
      height: chapterHeight
      width: 100%
      padding: 1.5em


  &.chapterContent
    position: relative
    width: 50%
    left: 50%
    padding: 0

    +below(vars.screens.mobile)
      width: auto
      left: auto
      &[id*="about"] // moves headshot out of the way of the fixed section
        margin-top: chapterHeight


.softSides075em
  padding-left: 0.75em
  padding-right: 0.75em


// padding top classes
.softTop6em
  padding-top: 5em
  +below(mobile)
    padding-top: 1em

.softTop5em
  padding-top: 5em
  +below(mobile)
    padding-top: 1em

.softTop3em
  padding-top: 3em
  +below(mobile)
    padding-top: 1em

// padding bottom classes

.softBottom5em
  padding-bottom: 5em
  +below(mobile)
    padding-bottom: 1em

.softBottom4em
  padding-bottom: 4em
  +below(mobile)
    padding-bottom: 1em

.softBottom3em
  padding-bottom: 3em
  +below(mobile)
    padding-bottom: 1em

.softBottom2em
  padding-bottom: 2em
  +below(mobile)
    padding-bottom: 1em

.softBottom0.5em
  padding-bottom: 0.5em
