@require '../styles/global'
vars = json('../styles/vars.json', {hash:true})
mobile = vars.screens.mobile
@require '../styles/breakpoints'

.section
  z-index: 100

  &.flex
    display: flex

  &.wrap
    flex-flow: wrap

  &.chapter
    position: fixed
    width: 50%
    text-align: right
    padding: 3vh 3vw
    height: 100vh

    display: flex
    flex-flow: row wrap
    align-content: space-between

    +below(vars.screens.mobile)
      width: auto
      position: relative
      text-align: left
      height: auto


  &.chapterContent
    position: relative
    width: 50%
    left: 50%

    +below(vars.screens.mobile)
      width: auto
      left: auto


.softSides075em
  padding-left: 0.75em
  padding-right: 0.75em


// padding top classes
.softTop6em
  padding-top: 5em
  +below(mobile)
    padding-top: 1em

.softTop5em
  padding-top: 5em
  +below(mobile)
    padding-top: 1em

.softTop3em
  padding-top: 3em
  +below(mobile)
    padding-top: 1em

// padding bottom classes

.softBottom5em
  padding-bottom: 5em
  +below(mobile)
    padding-bottom: 1em

.softBottom4em
  padding-bottom: 4em
  +below(mobile)
    padding-bottom: 1em

.softBottom3em
  padding-bottom: 3em
  +below(mobile)
    padding-bottom: 1em

.softBottom2em
  padding-bottom: 2em
  +below(mobile)
    padding-bottom: 1em

.softBottom0.5em
  padding-bottom: 0.5em
