@require '../styles/vars'
@require '../styles/breakpoints'

.section
  z-index: 100
  // flex: 50% 0 0

  // display: flex
  // flex-flow: row wrap
  // overflow: hidden

  &.narrow
    padding: 3vw

  +below(screens.tablet)
    padding: 1em

  &.chapter
    position: fixed
    width: 50%
    text-align: right
    padding: 4vh 4vw 4vh 4vw
    height: 100vh

    display: flex
    flex-direction: column
    align-content: flex-end

    +below(screens.mobile)
      width: auto
      position: relative
      text-align: left
      height: auto


  &.chapterContent
    position: relative
    width: 50%
    left: 50%

    +below(screens.mobile)
      width: auto
      left: auto
