.transition-group {
  position: relative;
}

.transition-container {
  position: absolute;
}

.example-enter {
  .project-image {
    opacity: 0;
    transition: all 1s;
  }
}

.example-enter.example-enter-active {
  .project-image {
    transition: all 1s;
    opacity: 1;
  }
}

.example-exit {
  .project-image {
    transform: scale(1) translateX(-500px);
    opacity: 1;
  }
}

.example-exit.example-exit-active {
  .project-image {
    transform: scale(1.5);
    opacity: 0;
    transition: all 1s;
  }
}
